.new {
  width: 100%;
  display: flex;
  max-height: 100vh;
  .newContainer {
    flex: 6;
    overflow: scroll;
    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      // display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .img-container {
        // flex: 1;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        // flex: 2;

        // form {
        //   display: flex;
        //   flex-wrap: wrap;
        //   gap: 30px;
        //   justify-content: space-around;

        //   .formInput {
        //     width: 40%;

        //     label {
        //       display: flex;
        //       align-items: center;
        //       gap: 10px;

        //       .icon {
        //         cursor: pointer;
        //       }
        //     }

        //     input {
        //       width: 100%;
        //       padding: 5px;
        //       border: none;
        //       border-bottom: 1px solid gray;
        //     }
        //   }

        //   button {
        //     width: 150px;
        //     padding: 10px;
        //     border: none;
        //     background-color: teal;
        //     color: white;
        //     font-weight: bold;
        //     cursor: pointer;
        //     margin-top: 10px;
        //   }
        // }
      }
    }
  }
}

.image-container{
  display: flex;
  flex-wrap: wrap;

  .upload-file{
    font-weight: 500;
    height: 20px;
    cursor: pointer;
    color: rgb(2, 136, 209);
    margin-right: 12px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    padding: 10px 16px;
    border-radius: 6px;
    margin-left: 6px;
    box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  }
  .image-label{
    margin-top: 6px;
  }

}

.cancle-icon{
  color: rgb(0, 0, 0);
    position: absolute;
    right: 5px;
    top: -10px;
}
