.sidebar {
  position: relative;
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: rgb(27, 35, 48);
  
    .top {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }
  
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  
    .center, .bottom {
      padding-left: 10px;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: rgba(255, 255, 255, 0.05);
          }
  
          .icon {
            font-size: 22px;
            color: #7EC8E3; //#7451f8;
          }
  
          span{
              font-size: 20px;
              font-weight: 600;
              color: #888;
              margin-left: 10px;
          }
        }
      }
    }
    .bottom{
      position: absolute;
      bottom: 20px;
      width: 100%;
      box-sizing: border-box;
    }
  
    .user-details {
      margin-top: 12px;
      color: white;
      padding-left: 8px;
      .name{
        margin-bottom: 4px;
        font-weight: 700;
      }
      .email{
        color: #ddd;
      }
    }
    // .bottom{
    //     // display: flex;
    //     // align-items: center;
    //     // margin: 10px;
  
    //     .colorOption{
    //         width: 20px;
    //         height: 20px;
    //         border-radius: 5px;
    //         border: 1px solid #7451f8;
    //         cursor: pointer;
    //         margin: 5px;
  
    //         &:nth-child(1){
    //             background-color: whitesmoke;
    //         }
    //         &:nth-child(2){
    //             background-color: #333;
    //         }
    //         &:nth-child(3){
    //             background-color: darkblue;
    //         }
    //     }
    // }
  }
  